
<html>
	<head>
		<meta charset="UTF-8">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<div class="jumbotron jumbotron-fluid mb-3 bg-light">
				<h1 class="display-4">Novo Pedido</h1>
			</div>
			
			<form action="/pedido/novo" method="POST">
				<div>
					<label for="nomeProduto">Produto</label>
					<input name="nomeProduto" placeholder="nome do produto"></input>
					<small>Informe qual o nome do produto.</small>
				</div>
				<div>
					<label for="urlProduto">Url do Produto</label>
					<input name="urlProduto" placeholder="url do produto"></input>
					<small>Procure em um site o produto que você deseja e cole aqui.</small>
				</div>
				<div>
					<label for="urlImagem">Url da Imagem</label>
					<input name="urlImagem" placeholder="url da imagem"></input>
					<small>Copie a url de uma imagem do produto e cole aqui.</small>
				</div>
				<div>
					<label for="descricao">Descrição</label>
					<textarea name="descricao" placeholder="adicione detalhes importantes sobre o produto"></textarea>
				</div>
				<button type="submit">Cadastrar</button>
			</form>
		</div>
	</body>

</html>